<div class="card" style="height: 220px; margin: 3px;" [@flipCard]="canShowPicture ? 'start':'end'">
  <div class="card-body bg-dark" style="height: 100%; overflow: hidden;">
    <div style="width: 100%; height: 100%; display: flex; align-items: center;">
      <img
        src="{{imageUrl}}"
        [hidden]='!canShowPicture'
        style="width: 200px; height: auto; object-fit: cover;"
      >
      <div style="width: 200px; height: 100%;"
        [hidden]="canShowPicture" (click)="showPicture()">
        <div style="display: flex; align-items: center; justify-content: center; height: 100%;">
          <i class="icon icon-2x icon-search" *ngIf="inPlay"></i>
          <i class="icon icon-2x icon-check" *ngIf="!inPlay"></i>
        </div>
      </div>
    </div>
  </div>
</div>
