<div class="center-wrapper w100 h100" *ngIf='gameState === "end"' >
  <div class="hero bg-gray hero-sm" style="width: 500px; height: auto;">
    <div class="hero-body">
      <h1>Memory game</h1>
      <p>The classic memory game, with rondom dog pics</p>
      <button class="btn" (click)='startGame()'>Play...</button>
    </div>
  </div>
</div>

<div [@startGame]='gameState' *ngIf='gameState === "start"' style="width: 100%; padding-top: 10px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
  <div>
    <span class="text-light">Time: {{gameTimer}}</span>
  </div>
  <div class="divider" style="width: 50%"></div>
  <div style="width: 70%; height: inherit;">
    <div class="board-container">
      <div *ngFor="let item of images" style="height:250px;">
        <app-tile imageUrl="{{item.url}}" style='width: inherit; height: inherit;'
          (pictureShown)="checkMatches($event)">>
        </app-tile>
      </div>
    </div>
  </div>
</div>

<div class="overlay" *ngIf="winnerAnnounce">
  <div class="toast toast-primary">
    <button class="btn btn-clear float-right" (click)="resetGame();"></button>
    <br>
    <br>
    <br>
    Woot!! That was fast! It took just {{gameTimer}} seconds for you
    to solve the board.
  </div>
</div>
